/* start variables */
:root {
    --main-color: #34a64f;
    --second-color:#2a2a2a;
    --text-color: #ececec;
    --pri-fontcolor:#777;
    --padding-section: 50px;
}
/* end variables */
/* start global rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Jomhuria', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}
.continar {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}  
/* media quary>responseves*/
/*meduim 768px 991px*/
@media (min-width:768px) {
    .continar {
        width: 750px;
    }
}
/* large 992px 1199px*/
@media (min-width: 992px) {
    .continar {
        width: 970px;
    }
}
/*X-Large 1200px to 1399px*/
@media (min-width: 1200px) {
    .continar {
        width: 1170px;
    }
}
/*end Global Rules*/
/* Start main heading */
.main-heading {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    position: relative;
    margin-bottom: 20px;
}
.main-heading .continar {
    margin-bottom: 30px;

}
.main-heading h4 {
    color: var(--main-color);
    font-size: 17px;
    margin: 0 0 -10px 0;
    position: relative;
    text-transform: uppercase;
    font-weight: normal;
    align-items: center;
    display: inline-flex;
    background-color: #34a64f36;
    width: 150px;
}
.main-heading h4::before {
    content: "";
    height: 25px;
    border-left: 3px solid var(--main-color);
    padding: 5px;
}
.main-heading p {
    max-width: 100%;
    line-height: 1.2;
    font-size: 29px;
    font-weight: 500;
    width: 300px;
    margin: 15px 0 0 0;
}
.main-heading span {
    color: var(--main-color);
}
/* End main heading */

/* start header */
header {
    position: absolute;
    width: 100%;
    z-index: 2;
    left: 0;
}
header .continar {
    display: flex;
    height: 90px;
    position: relative;
}
header .continar::after {
    content: "";
    background-color: var(--second-color);
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0;
    position: absolute;
}
header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .continar .Logo {
    position: absolute;
    top: 2%;
}
header .continar .Logo img {
    width: 85px;
    position: absolute;
}
header  nav {
    width: 100%;
}
header nav .toggle-menu {
    right: 60px;
    position: absolute;
    font-size: 19px;
    height: 18px;
    transition: 0.2s;
    color: var(--text-color);
}
@media (min-width:768px) {
    header nav .toggle-menu {
        display: none;
    }
}
header  nav ul {
    display: flex;
    margin: 0;
        /* direction: rtl; */
    left: -30px;
    position: relative;
}
@media (max-width:768px) {
    header nav ul {
        display: none;
    }
    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        width: calc(100% - 30px);
        top: 100%;
        position: absolute;
        margin: 0;
        background-color: rgb(0 0 0 / 50%);
        /* حل مشكلة ال paddding ليش صفر؟ */
        padding: 0;
    }
    header nav .toggle-menu:hover+ul li a {
        padding: 15px;
    }
}
header  nav ul li a{
    display: block;
    color: var(--text-color);
    font-weight: 600;
    font-size: 20px;
    padding: 33px 10px;
    transition: 0.2s;
    z-index: 2;
    position: relative;
}
@media (max-width:767px) {
    header nav ul li a:hover {
            color: var(--main-color);
            width: 100%;
            border: 1px solid;
        }
}
@media (min-width:768px) {
    header nav ul li a:hover {
        color: var(--main-color);
        width: fit-content;
        border-bottom: 1px solid;
    }
}
header .continar .form {
    color: var(--text-color);
    font-size: 20px;
    height: 20px;
    width: 12px;
    border-left: 1px solid;
    display: block;
    margin-left: 15px;
    left: -20px;
    position: relative;
}
header .continar .form i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
/* End header */
/* Start Slider  */
.Slider {
    position: relative;
    background-image: url(../image/backgrid.jpg);
    background-color: #9c9c9cbd;
    min-height: 100vh;
    background-size: cover;
    border: 2px solid var(--main-color);
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}
.Slider .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}
.Slider .contant {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    position: absolute;
    background-color: rgb(0 0 0 / 60%);
    width: 50%;
    padding: 4px 76px 4px 22px;
}
@media (max-width:767px) {
    .Slider .contant {
        width: 100%;
    }
}
.Slider .text {
    color: var(--text-color);
}
.Slider .text span {
    color: var(--main-color);
    font-weight: 900;
}
.Slider .text h2 {
    font-size: 26px;
    font-weight: normal
}
.Slider .text p {
    line-height: 1.2;
    font-size: 13px;
}
.Slider .contant i {
    right: 20px;
    position: absolute;
    top: 40%;
    color: #ddd;
    transform: translateY(50%);
    font-size: 28px;
}
.Slider .bools {
    display: flex;
    position: absolute;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.Slider .bools li {
        height: 18px;
    width: 18px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    margin-right: 10px;
}

.Slider .bools .Active {
    background: var(--text-color);
    border-color: var(--second-color);
}
/* End Slider */
/* Start Servies */
.Servies {
    padding-bottom: var(--padding-section);
    
}
.Servies::before {
    content: '';
    background-image: url(../image/services-left-dec.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    rotate: 270deg;
    bottom: -266px;
    width: 261px;
    height: 368px;
    z-index: -1;
}
.Servies .continar .page-Serv {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 100%;
}
.Servies .page-Serv .box {
    border: 1px solid rgba(187, 187, 187, 0.6);
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    max-height: 370px;
}
.Servies .page-Serv .box img {
    width: 90px;
    bottom: 10px;
    position: relative;
}
.Servies .page-Serv .box .text {
    margin: 10px;
}
.Servies .text  h4 {
    font-size: 17px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}
/*  QUOting in HTML */
.Servies .text  h4::before {
    content: open-quote;
    margin: 0 5px 0 ;
}
.Servies .text h4::after{
    content: close-quote;
    margin: 0 5px 0;
}
.Servies .text  p {
    font-size: 12px;
    line-height: 1.5;
    color: #777;
    margin-top: 0;
}
.Servies .text  a {
    text-decoration: none;
    color: var(--second-color);
    background-color: hsl(0, 0%, 90%);
    border: 1px solid #777;
    font-weight: 500;
    padding: 5px;
    border-radius: 20px;
    bottom: -20px;
    position: relative;
}
/* End Servies */
/* Start Sales */
.Sales {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-image: url(../image/sales\ closed-bg.jpg);
}
.Sales .continar .side-bar {
    padding-bottom: var(--padding-section);
    margin: 63px 0 0 ;
    padding: 10px;
    text-align: center;
}
.Sales .side-bar h4 {
    color: var(--main-color);
    text-align: center;
    font-size: 15px;
    margin: 0 0 -10px 0;
    position: relative;
    font-weight: normal;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    background-color: #34a64f36;
    width: 140px;
}
.Sales .side-bar h4::before {
    content: "";
    height: 30px;
    border-left: 3px solid var(--main-color);
    padding: 5px;
}
.Sales .side-bar p {
    margin-top: 15px;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: var(--second-color);
}
.Sales .side-bar p span {
    color: var(--main-color);
}
.Sales .info-bar {
    text-align: center;
    padding: 30px 20px;
    display: flex;
    justify-content: space-evenly;;
}
@media (max-width:767px) {
    .Sales .info-bar {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        width: 100%;
        gap: 23px 35px;
        border: 0.1px solid var(--pri-fontcolor);
    }
}
.Sales .info-bar .box {
    display: inline-flex;
    margin-right: 10px;
    align-items: center;
}
.Sales .info-bar .box img {
    width: 100px;
    height: 50px
}
@media (max-width:767px) {
    .Sales .info-bar .box img {
        width: 156px;
        height: 74px;
}
}
.Sales .page-Sales .sales {
    position: relative;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px,1fr));
    gap: 15px 15px;
}
.Sales .sales .card-sales img {
    width: 100px;
    height: 118px;
}
.sales .info-sales {
    text-align: center;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgba(187, 187, 187, 0.6);
    box-shadow: 5px 8px 4px rgb(0 0 0 / 18%);
    border-bottom: 1px solid var(--main-color);
}
.sales .info-sales:hover {
    display: block;
    position: relative;
}
.sales .info-sales .card-sales img {
    width: 70px;
    height: 75px;
}
.sales .info-sales .card-sales h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
}
.sales .info-sales .card-sales a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
    padding: 5px;
    position: relative;
}
.sales .info-sales:hover {
    overflow: visible;
    position: relative;
}
.sales .info-sales .text-colo .more {
    display: none;
}
/* .sales .info-sales .text-colo {
    position: relative;
    overflow:hidden;
}
.sales .info-sales .text-colo .hover-effect {
    background-image: url(../image/sales\ closed-bg.jpg);
    width: 100%;
    height: 270%;
    bottom: 100%;
    position: absolute;
    transition: all .3s ease-in-out;
    top: 100px;
    opacity: 0;
}
.sales .info-sales .card-sales:hover .hover-effect {
    top: 0;
    opacity: 1;
} */
/* end Sales */